/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #181717;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

/* ---------------------------- HEADER ---------------------------- */
.header {
  height: 12vh;
  width: 100vw;
  border-bottom: 1.7px solid #c4b28b;
  background-image: linear-gradient(to right, #4d0a1c, #740c27), url('../assets/imgs/Header.png');
  position: fixed;
  z-index: 999;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
  align-self: center;
  justify-self: center;
}

.agora {
  font-weight: 600;
}

.navbar {
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #d7a04f;
  font-size: 20px;
}

.titulo {
  color: #d7a04f;
  width: fit-content;
  font-weight: 550;
  font-size: 2.7rem;
}

.header h1 {
  margin: 0;
}

.nome-sair {
  width: 300px;
  display: flex;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

/* -------------------------- HEADER END -------------------------- */

/* -------------------------- PÁGINA ESCOLHAS -------------------------- */
/* ------------------------- MENU LATERAL ------------------------- */
.header-left_escolhas {
  position: fixed;
  margin: 105px 30px 0 30px;
  top: 0;
  left: 0;
  z-index: 997;
  height: 80vh;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #c4b28b;
  background-color: #101010;
}

.header-left_escolhas .conteudo {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-left_escolhas h3 {
  background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 1.3rem;
}

.header-left_escolhas h1 {
  color: #c4b28b;
  font-weight: 100;
  align-self: center;
  justify-self: center;
  font-size: 1.8rem;
}

.header-left_escolhas span {
  color: #c4a158;
  font-weight: 100;
  align-self: center;
  justify-self: center;
  font-size: 1.1rem;
}

/* ---------------------------------- MAIN --------------------------- */
.opcoes {
  /* height: 80%; */
  width: 70%;
  position: relative;
  top: 0;
  left: 28%;
  height: fit-content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 105px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #c4b28b;
  background-color: #101010;
}

.categoria {
  width: 100%;
  min-height: 7vh;
  align-self: flex-start;
  justify-content: center;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #c4b28b;
  background-image: linear-gradient(to bottom, #741c32, #bb6c85);
}

.conteudo_info {
  width: 95%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-self: center;
  padding: 30px;
  margin-bottom:20px;
  background-color: transparent;
  box-shadow: -5px 5px 10px #fde0a1;
  border-radius: 7px;
  border: 2px solid #fde0a1;

}

.foto {
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
  
}

.foto img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.info {
  width: 30vw;
  ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.opcoes .conteudo_info .info .item_nome {
  font-weight: 800;
  span {
    background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 30px;
    font-weight: 900;
  }
  margin-bottom: 15px;
}


.input_qtd {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 7px;

}

.opcoes h3 {
  background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 1.3rem;
}

.opcoes h1 {
  color: #c4b28b;
  font-weight: 100;
  align-self: center;
  justify-self: center;
  font-size: 1.8rem;
}

.opcoes span {
  color: #f5eede;
  font-weight: 100;
  align-self: center;
  justify-self: center;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 7px 7px 7px 7px;
}


/* ------------------------ PÁGINA ESCOLHAS  END ------------------------ */



/* -------------------------- PÁGINA DASHBOARD -------------------------- */
/* ------------------------- MENU LATERAL ------------------------- */
body .janela {
  display: flex;
  width: 100%;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  margin: 105px 30px 0 30px;
  top: 0;
  left: 0;
  z-index: 997;
  height: 80vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #c4b28b;
  background-color: #101010;
}

.menu_titulo {
  width: 100%;
  height: 7vh;
  align-self: flex-start;
  justify-content: center;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #c4b28b;
  background-image: linear-gradient(to bottom, #741c32, #bb6c85);
}

.header-left .conteudo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.menu_block {
  width: 90%;
  border-bottom: 1.5px solid #c4b28b;
  display: flex;
  flex-direction: column;
  padding: 0 5px 7px 5px;
}

.menu_block_ultimo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-left h3 {
  background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 1.3rem;
}

.header-left h1 {
  color: #c4b28b;
  font-weight: 100;
  align-self: center;
  justify-self: center;
  font-size: 1.8rem;
}

.header-left span {
  color: #c4a158;
  font-weight: 100;
  align-self: center;
  justify-self: center;
  font-size: 1.1rem;
}

/* ----------------------- MENU LATERAL END ----------------------- */

/* --------------------------- DASHBOARD -------------------------- */
/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 22%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 105px;
}

.dash .kpi_bar {
  height: 13vh;
  width: 93%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dash .kpi_bar .kpi_black {
    width: 23%;
  height: 95%;
  border-radius: 5px;
  border: 2px solid #c4b28b;
  background-color: #101010;
}

.dash .kpi_bar .kpi_black .kpi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  gap: 10px;

  h3 {
    font-size: 1.1rem;
    padding-left: 10px;
  }

  span {
    font-size: 1.5rem;
    font-weight: 900;
    justify-self: center;
    align-self: center;
  }

}

.dash .graficos_todos {
  height: 70%;
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.dash .graficos_todos .grafico_esquerda {
  width: 55%;
  border-radius: 5px;
  border: 2px solid #c4b28b;
  background-color: #101010;
}

.grafico_esquerda .titulo_grafico {
  padding-top: 20px;
}

.grafico_esquerda .container {
  width: 100%;
  max-width: 480px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.dash .graficos_todos .graficos_direita {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dash .graficos_todos .graficos_direita .grafico_progresso {
  height: 15vh;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #c4b28b;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.titulo_grafico {
  background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 1.4rem;
  font-weight: 900;
  justify-self: center;
  align-self: center;
}

.grafico_progresso .barra_porcentagem {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.grafico_progresso .bg_bege {
  height: 5vh;
  width: 20vw;
  background-color: #dfd4be;
  justify-self: center;
  align-self: center;
  border-radius: 7px;
  border: 2px solid #c4b28b;
}

.grafico_progresso .bg_dourado {
  height: 100%;
  width: 0%;
  background-color: #bb6c85;
  border-radius: 7px;
}

.grafico_progresso .porcentagem {
  font-size: 1.5rem;
  font-weight: 900;
  justify-self: center;
  align-self: center;
  color: #bb6c85;
  padding-left: 10px;
}

.dash .graficos_todos .graficos_direita .grafico_pizza {
  height: 51vh;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #c4b28b;
  background-color: #101010;
  background-image: linear-gradient(to top right, );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grafico_pizza .container {
  width: 90%;
  height: 90%;
}

.grafico_pizza .titulo_grafico {
  padding-top: 20px;
}

/* ------------------------- DASHBOARD END ------------------------ */

/* -------------------------- CARD ERRO --------------------------- */



/* ------------------------- CARD ERRO END ------------------------ */

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: "Julius Sans One", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Julius Sans One", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Julius Sans One", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}



.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */




.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}


.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.botao-preto {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #c4b28b;
  border-radius: 5px;
  border: 1.6px solid #c4b28b;
  padding: 5px 20px;
  height: fit-content;
  min-width: 25px;
  cursor: pointer;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(65, 62, 63));
  align-self: center;
}

.botao {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #c4b28b;
  border-radius: 5px;
  border: 1.6px solid #c4b28b;
  padding: 5px 20px;
  height: fit-content;
  min-width: 25px;
  cursor: pointer;
  background-image: linear-gradient(to top, #741c32, #bb6c85);
  align-self: center;
  justify-self: center;
}


input {
  min-height: 4vh;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to top, #decdac, #f5efe2);
  background-color: #f5efe2;
  border: 2px solid #bba77e;
  border-radius: 5px;
  color: #721d34;
}

input::placeholder {
  text-align: center;
  color: #721d34;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

select {
  min-height: 4vh;
  width: 70%;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to top, #decdac, #f5efe2);
  background-color: linear-gradiente(to top, #decdac, #f5efe2);
  border: 2px solid #bba77e;
  border-radius: 5px;
}