@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(34, 32, 32);
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

/* ---------------------------- HEADER ---------------------------- */
.header {
  height: 10vh;
  width: 100vw;
  border-bottom: 2px solid #c4b28b;
  background-image: linear-gradient(to right, #4d0a1c, #6b0e27), url('../assets/imgs/Header.png');
  position: fixed;
  top: 0;
  z-index: 999;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
  align-self: center;
  justify-self: center;
}

.agora {
  font-weight: 600;
  color: #bd6088;
}

.navbar {
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #d7a04f;
  font-size: 20px;
}

.header .titulo {
  width: fit-content;
  font-weight: 550;
  font-size: 2.7rem;
  align-self: center;
  justify-self: center;
  background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.header h1 {
  margin: 0;
}

/* -------------------------- HEADER END -------------------------- */

/* ---------------------------- FOOTER ---------------------------- */

.footer {
  background-color: #4b081a;
  height: 150px;
  color: #d7a04f;
  display: flex;
  font-size: 15px;
  border-top: 2px solid #c4b28b;
  align-self: flex-end;
}

.footer .container {
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.footer .container .version {
  font-size: 12px;
}

/* -------------------------- FOOTER END -------------------------- */

/* ---------------------------- BANNER ---------------------------- */

.main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.titulo_sessao {
  background-image: linear-gradient(to top left, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  justify-self: center;
  align-self: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.1rem;
}

.banner_img {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #30242727, #000000ef), url('../assets/imgs/banner_cropped.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_texto .slogan {
  background-image: linear-gradient(to left, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-shadow: 1px 1px 2px rgb(233, 199, 149), 0 0 1em rgb(189, 101, 149), 0 0 0.2em rgb(139, 0, 69);
}

.banner_texto .slogan p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 800;
}

.banner_texto .slogan span {
  font-weight: 800;
}

/* -------------------------- BANNER END -------------------------- */

/* --------------------------- HARMONIA  -------------------------- */

.img_txt_img {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px;
  border-bottom: 2px solid #bba77e;
  justify-self: center;
  align-self: center;
  padding-bottom: 70px;
}

.img_txt_img .harmonia {
  width: 320px;
  height: 450px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: -5px 5px 10px #bd6088;
    border-radius: 7px;
    border: 2px solid rgb(206, 195, 170);
  }
}

.harmonia h2 {
  color: #e6ba6a;
  align-self: center;
  justify-self: center;
}

.harmonia p {
  color: #ece6d4;
}


/* ------------------------- HARMONIA END ------------------------- */

/* --------------------------- ESTAÇÕES --------------------------- */
.estacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cards_estacoes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.cards_estacoes .card_estacao {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-height:max-content;
  height: 75vh;
  background-image: linear-gradient(to bottom, #312d2d, #000000);
  border-radius: 7px;
  border: 2px solid rgb(206, 195, 170);
  margin: 10px;
  margin-bottom: 70px;
}

.shadow_haru {
  box-shadow: -5px 5px 10px #bd6088;
}

.shadow_natsu {
  box-shadow: -5px 5px 10px #fde0a1;
}

.shadow_aki {
  box-shadow: -5px 5px 10px #e98951;
}

.shadow_fuyu {
  box-shadow: -5px 5px 10px #9fbaf5;
}

.card_estacao .card_estacao .img_estacao {
  width: 100%;
  height: 25vh;
}

.img_estacao img {
  width: 100%;
  height: 30vh;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.texto_estacao {
  padding: 7px;

}

.cards_estacoes h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  background-image: linear-gradient(to top right, #dfd4be, #c6a765, #bd6088, #9f3254);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.cards_estacoes p {
  font-size: 1.2rem;
  color: #bd6088;
  margin-bottom: 10px;
  padding: 7px;
}

.descricao p {
  font-size: 0.8rem;
  color: #f5e5cd;
  text-align: left;
  padding: 7px;
}

.descricao span {
  font-size: 0.8rem;
  color: #bd6088;
  font-weight: 900;
}



/* ------------------------- ESTAÇÕES END ------------------------- */

/* --------------------------- CADASTRO --------------------------- */


.login {
  height: fit-content;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  display: flex;
  width: 55%;
  justify-content: center;
  align-items: center;


}

.login .container .img_esquerda {
  width: 44%;
  height: 100%;
  background-size: cover;
}

img {
  height: 100%;
  width: 75%;
}

.card {
  width: 100%;
  border-radius: 7px;
  border: 2px solid #c4b28b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #c4b28b;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  font-size: 1.5rem;
  background-image: linear-gradient(hsla(0, 0%, 1%, 0.884)), url('../assets/imgs/9eff029bc9b25256f5a7fe9d6587220a.jpg');
  background-size: 100% auto;
  gap: 40px;


}

.card-cadastro {
  min-height: 70vh;
  max-width: 35vw;
  min-width: 20vw;
  margin: 4vh 5vw;
  padding: 7vh 4vw;
}


.card-login {
  gap: 10px;
  min-height: 50vh;
  max-width: 35vw;
  min-width: 20vw;
  margin: 4vh 5vw;
  padding: 7vh 4vw;

}

.formulario {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formulario span {
  font-size: 1.2rem;
}

.campo {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.campo span {
  margin: 7px 0 2px 0;
}

/* Validação da senha */
.checks_cadastro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 12px;
  gap: 4px;
}

.check {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.check_img {
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

.check_img img {
  height: 100%;
  width: 100%;
}

/* Validação da senha END */



/* FORMULARIO */

/* Div de Erros */
#div_erros_login {
  display: none;
  justify-self: center;
  align-self: center;
}

.aviso_erro_login {
  text-align: center;

}

.alerta_erro {
  display: flex;
  justify-content: flex-end;
  
}

.card_erro {
  display: none;
  background-color: #101010;
  color: #ddd0b5;
  width: 230px;
  position: fixed;
  top: 20vh;
  right: 9vw;
  border-radius: 4px;
  border: #dfd4be 3px solid;
  padding: 10px;
  z-index: 995;
}

.card_erro span {
  color: #bd6088;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

/* Div de Erros END */

/* Div de gif de loading */
.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* Div de gif de loading END */

/* ------------------------- CADASTRO END ------------------------- */

.botao {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #c4b28b;
  border-radius: 5px;
  border: 1.6px solid #c4b28b;
  padding: 5px 20px;
  height: fit-content;
  min-width: 25px;
  cursor: pointer;
  background-image: linear-gradient(to top, rgb(116, 28, 50), rgb(187, 108, 133));
  align-self: center;
}

input {
  min-height: 4vh;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to top, #decdac, #f5efe2);
  background-color: #f5efe2;
  border: 2px solid #bba77e;
  border-radius: 5px;
  color: #721d34;
}

input::placeholder {
  text-align: center;
  color: #721d34;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

select {
  min-height: 4vh;
  width: 70%;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to top, #decdac, #f5efe2);
  background-color: #f5efe2;
  border: 2px solid #bba77e;
  border-radius: 5px;
  color: #721d34;
}